body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  /* background-color: #981C06; */
  background: rgb(88,11,15,1);
  background: radial-gradient(circle, rgba(202,61,54,1) 0%, rgba(88,11,15,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 10px;
}